@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gelasio';
  src: url('/fonts/Gelasio-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Sacramento';
  src: url('/fonts/Sacramento-Regular.ttf') format('truetype');
  font-weight: 100 900;
}
